<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codere.SBGOnline.Common.DataAccess.Dynamics" version="1.0.20200612.9" targetFramework="net452" />
  <package id="Codere.SBGOnline.DynamicsClasses.CodereId" version="1.0.20200611.1" targetFramework="net452" />
  <package id="Codere.ThirdParty.Microsoft.Xrm" version="1.0.3" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net452" />
</packages>